# PyCharm project metadata
.idea/

# Ambienti virtuali
.venv/
venv/

# File di cache di Python
__pycache__/
*.py[cod]

# File di Build creati da setuptools
build/
*.egg-info/

# Generated images from scripts
*.png
*.jpg
*.jpeg